.forgot-password-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgot-password-form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}
